

    <div class="footer-top">
      <div class="wow animate__bounceInUp" data-wow-duration="1s">
      <img src="images/footer-dogs.jpg">
      </div>
  </div>


  <div class="main-footer green-bg">
      <div class="wrapper">

          <div class="nav-column">
              <h3>Site Map</h3>
              <ul>
                  <li><a href="#">Home</a></li>
                  <li><a href="#">About</a></li>
                  <li><a href="#">Nutrition</a></li>
                  <li><a href="#">Reviews</a></li>
                  <li><a href="#">Shop</a></li>
              </ul>
          </div>

          <div class="nav-column">
              <h3>Contact</h3>
              <ul class="contact-links">
                  <li><a href="#"><img src="images/mail-icon.png">support@pdxfetch.com</a></li>
                  <li><a href="#"><img src="images/instagram.png">@pdxfetch</a></li>
                  <li><a href="#"><img src="images/facebook.png">pdxfetch</a></li>
                  <li><a href="#"><img src="images/phone.png">503.894.5470</a></li>
              </ul>
          </div>

          <div class="news-column">
              <h3>Join our newsletter</h3>
              <form>
                  <input type="text" name="email">
                  <button type="submit"><i class="fa-solid fa-check"></i></button>
              </form>
          </div>

      </div>
  </div>

  <div class="footer-bottom">
      <div class="wrapper">
          <div class="credits">
              2022 PDX FETCH, Inc.
          </div>
          <div class="utility-nav">
              <ul>
                  <li><a href="#">Privacy</a></li>
                  <li><a href="#">Terms</a></li>
                  <li><a href="#">Do Not Sell My Personal Information</a></li>
              </ul>
          </div>
      </div>
  </div>



  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <script src="js/plugins/before-after.min.js"></script>
  <script src="js/plugins/wow.min.js"></script>
  <script>
      var wow = new WOW(
      {
          boxClass:     'wow',      // animated element css class (default is wow)
          animateClass: 'animate__animated', // animation css class (default is animated)
          offset:       0,          // distance to the element when triggering the animation (default is 0)
          mobile:       true,       // trigger animations on mobile devices (default is true)
          live:         true,       // act on asynchronously loaded content (default is true)
          scrollContainer: null,    // optional scroll container selector, otherwise use window,
          resetAnimation: true,     // reset animation on end (default is true)
      }
      );
      wow.init();
  </script>
  <script src="js/main.js" defer></script>
  
</body>
</html>


{% schema %}
{
  "name": "Footer"
}
{% endschema %}
