<nav class="main-nav">
  <div class="wrapper desktop">
      <div class="logo wow animate__tada" data-wow-delay="3s">
          <img src="images/logo.png" width="300">
      </div>
      <ul class="nav-menu">
          <li><a href="#">home</a></li>
          <li><a href="#">nutrition</a></li>
          <li><a href="#">about</a></li>
          <li><a href="#">reviews</a></li>
          <li><a href="#" class="button">shop fresh</a></li>
      </ul>

      <ul class="utility-menu">
          <li><a href="#"><img src="images/shopping-cart.png"></a></li>
          <li><a href="#"><div class="account-button"></div></a></li>
      </ul>
  </div>
  <div class="wrapper mobile">
      
      <div class="hamburger-menu">
          <img src="images/hamburger.png" width="30">
      </div>

      <div class="logo">
          <img src="images/mobile-logo.png" width="66">
      </div>

      <ul class="utility-menu">
          <li><a href="#"><img src="images/shopping-cart.png" width="30"></a></li>
          <li><a href="#"><div class="account-button" style="width:30px; height:30px;"></div></a></li>
      </ul>
  </div>
</nav>


{% schema %}
{
  "name": "Main Header"
}
{% endschema %}
