<div class="hero main-hero">
    <div class="wrapper">
        <div class="image" style="background-image:url({{ section.settings.image }});">
            <img src="{{ section.settings.image }}">
        </div>
        <div class="content">
            <div class="text">
                <h2 class="wow animate__backInRight">
                    {{ section.settings.hero_text }}
                <!--Feed <span class="green">your dog</span><br>
                    like family-->
                </h2>
                <p>Excitement, Joy, Love. That’s what makes Fetch’s fresh, chef-baked dog food a must-have in your pup’s bowl, giving them a longer, healthier life in every bite.</p>
                <p><a href="#" class="button">shop now</a></p>
            </div>
        </div>
    </div>
</div>

{% schema %}
{
    "name" : "Hero Banner",
    "tag" : "section",
    "settings" : [
        {
            "type" : "text",
            "id" : "hero_text",
            "label" : "Hero text"
        },
        {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
        }
    ],
    "templates": ["article", "index", "page", "product"]
}
{% endschema %}
