<div class="calc-form">
    <form method="GET">
        <div class="column">
            
            <div class="form-input">
                <label>
                    <div>What is your dog's name?</div>
                    <input type="text" id="dog-name">
                </label>
            </div>

            <div class="form-input" id="zip-input">
                <label>
                    <div>What is your zip code?</div>
                    <input type="number" id="zipcode">
                </label>
                <div class="error-text"></div>
            </div>

            <div class="form-input" id="weight-input">
                <label>
                    <div>How much does your dog weigh?</div>
                    <input type="number" min="1" max="150" id="dog-weight">
                </label>
                <div class="error-text"></div>
            </div>
            
            
        </div>

        <div class="column">
        
            <div class="form-input">
                <label>
                    <div>What kind of dog?</div>
                    <input type="text">
                </label>
            </div>

            <div class="form-input">
                <label>
                    <div>How old is your dog?</div>
                    <input type="range" min="1" max="30" id="dog-age">
                </label>
                <span id="age-label">1 years</span>
            </div>

            

            <div class="form-input">
                <label>
                    <div>How active is your dog?</div>
                    <input type="range" min="1" max="4" id="dog-activity">
                </label>
                <span id="activity-label">Very active</span>
            </div>

        </div>
        

        
        <div class="row">
            <div class="form-input">
                <label>
                    <h3 class="text-center">Select recipe</h3>
                </label>
                <div class="meal-selections" id="meal-selections" data-meal-plan="beef">
                    <div>
                        <a href="#" class="meal-selector-button" data-meal-plan="turkey">
                            {% include "partials/turkey-icon.liquid" %}
                            <span>Turkey</span>
                        </a>
                    </div>
                    <div>
                        <a href="#" class="meal-selector-button active" data-meal-plan="beef">
                            {% include "partials/beef-icon.liquid" %}
                            <span>Beef</span>
                        </a>
                    </div>
                    <div>
                        <a href="#" class="meal-selector-button" data-meal-plan="mix">
                            <div class="mix-icon">
                                {% include "partials/turkey-icon.liquid" %}
                                <div class="plus">+</div>
                                {% include "partials/beef-icon.liquid" %}
                            </div>
                            <span>Mix Pack</span>
                        </a>
                    </div>

                </div>
            </div>
        </div>
        <div class="meal-plans">
            <div class="card popular">
                <div class="image">
                    <div class="pill">most popular!</div>
                    <img src="/images/product/turkey.png">
                </div>
                <div class="content">
                    <div class="pricing">
                        <h4>Fetch Fresh Plan starting at</h4>
                        <h3><span class="green" id="price1">$2.85</span>/day</h3>
                        <h4><span class="green" id="total1">$39.90</span>/delivery period</h4>
                    </div>
                    <p>Our most popular plan is intended to replace your dog's current diet fully with healthy food. Delivered fresh bi-weekly.</p>
                    <p>For your dog, a single serving is a 1 1/8 inch slice (45 grams) - 300 calories</p>
                    <p><a href="#" class="button white">add to cart</a></p>
                </div>
            </div>
            <div class="card">
                <div class="image">
                    <div class="pill">economic!</div>
                    <img src="/images/product/topper.png">
                </div>
                <div class="content">
                    <div class="pricing">
                        <h4>Fetch Topper Plan starting at</h4>
                        <h3><span class="green" id="price2">$2.85</span>/day</h3>
                        <h4><span class="green" id="total2">$39.90</span>/delivery period</h4>
                    </div>
                    <p>Our most wallet-friendly plan serves as a meal booster in addition to your dog's
                    regular food. Delivered fresh bi-weekly.</p>
                    <p>For your dog, a single serving is a 1 1/8 inch slice (45 grams) - 300 calories</p>
                    <p><a href="#" class="button white">add to cart</a></p>
                </div>
            </div>
        </div>
    </form>
</div>