<div class="calculator">
    <div class="wrapper">
        <div class="intro">
            <h2><span class="green dog-name-label" id="dog-name-label">Your dog's</span>&nbsp;Meal Plan</h2>
            <p>Your pup is one of a kind. That's why our personalized meal plans are specially tailored to your dog's needs, so you can feed them tasty food as wonderful as they are. <strong>Fetch chefs prepare 2 weeks of fresh food that ships to your door within 48 hours of cooking.</strong></p>
        </div>
        {% include "partials/calc-form.liquid" %}
    </div>
</div>