<div class="carousel-section">
    <div class="wrapper">

        <div class="intro">
            <h2 class="wow animate__backInDown">Pups are barking, parents are talking</h2>
            <p>These are the stories of pups just like yours who love Fetch! Want to see your dog here? Leave a review, tag us or use <span class="green">#feedfetch</span>.</p>
        </div>

        <div class="slider">

            <div class="slide-arrow prev" id="carousel-prev"><img src="/images/small-arrow.png"></div>
            <div class="slide-arrow next" id="carousel-next"><img src="/images/small-arrow.png"></div>

            <div class="slides-wrapper" id="review-carousel">
                
                <div class="slide">
                    <div class="image">
                        <img src="/images/reviews/Lisa-Sandoval-Picture-scaled.webp">
                    </div>
                    <div class="content">
                        <p><strong>Lisa &amp; Kobe</strong></p>
                        <p>&ldquo;Kobe is absolutely loving his new food from Fetch!
                        It's truly incredible to see him, day after day, running to his
                        bowl for meals. I've even started taking a little bits of
                        Fetch loaf out on walks for training because it's grabs his
                        attention so well.&rdquo;</p>
                    </div>
                </div>

                <div class="slide">
                    <div class="image">
                        <img src="/images/reviews/Heath-Carpenter-and-Walter.webp">
                    </div>
                    <div class="content">
                        <p><strong>Heath &amp; Walter</strong></p>
                        <p>
                            &ldquo;Fetch has been a GAME CHANGER for our
                            Labradoodle Walter! The second we start preparing his
                            food he runs to his “dinner table” and can't wait to eat.
                            They have healthy, farm fresh Beef or Turkey options to
                            choose from, which keeps Walter on his toes! We also love
                            the portion control cutting board, 2-week fresh delivery,
                            and the Customer Service is 5-stars!&rdquo;
                        </p>
                    </div>
                </div>

                <div class="slide">
                    <div class="image">
                        <img src="/images/reviews/Taylor _ Chip.webp">
                    </div>
                    <div class="content">
                        <p><strong>Taylor &amp; Chip</strong></p>
                        <p>
                            &ldquo;Fetch to the rescue. We had tried everything, and even our "fancy" dog food was no appeal to Chip as he reluctantly consumed it at the end of the day. Enter Fetch, dog food so good you could easily mistake it for my Mom's meatloaf. (I mean that as a compliment!) Fresh twice a month, delicious, nutritious and best of all, convenient. The idea of fresh food always seemed great, but was never practical to get. Fetch brings amazingly generous sized, freshly made food straight to our door for a great price.&rdquo;</p>
                    </div>
                </div>

                <div class="slide">
                    <div class="image">
                        <img src="/images/reviews/Mary _ Roxie.webp">
                    </div>
                    <div class="content">
                        <p><strong>Mary &amp; Roxie</strong></p>
                        <p>
                            &ldquo;Roxie loves Fetch! She barrels down the stairs to
                            eat it when I put it out. Easier to prepare than the previous
                            food which required mixing with warm water. Just slice on
                            the handy (and cute!) cutting board. Glad we switched to
                            Fetch!&rdquo;
                        </p>
                    </div>
                </div>

                <div class="slide">
                    <div class="image">
                        <img src="/images/reviews/Sandy-Pradas-and-Chloe.webp">
                    </div>
                    <div class="content">
                        <p><strong>Sandy &amp; Chloe</strong></p>
                        <p>
                            &ldquo;We love Fetch! Chloe is a very picky eater, and her
                            vet does not want her on a grain-free diet because of her
                            breed. It was very difficult to find high quality food that
                            met all of the requirements, and I was going to a lot of
                            trouble, expense, and waste. Fetch solved all of my
                            problems at once. Chloe loves the taste and has not had
                            any stomach issues since she's been on Fetch.&rdquo;
                        </p>
                    </div>
                </div>

                
                
                
            </div>
        </div>

    </div>
</div>