<div class="cta-slider" id="pin-me-3">
    <div class="wrapper">
        
        <div class="columns">

            <div class="slider-wrapper">
                <div class="ba-slider">
                    
                    <div class="img bg-image"></div>
                    <div class="img fg-image"></div>
                    <div class="handle"></div>
                    <input type="range" min="1" max="100" value="5" class="range-handle" id="cta-handle" disabled>

                </div>
            </div>
            
            <div class="content">
                <h2 class="">Give us one week...</h2>
                <p>and your pup will enjoy:</p>
                
                <div class="cta-features active" id="cta-features-1">
                    <h3>Week 1</h3>
                    <div class="entry">
                        <div class="icon">
                            <img src="images/feature-icons/heart.png">
                        </div>
                        <div class="text">
                            <h4>Enhanced wellness</h4>
                            <p>Better nutrition, more energy</p>
                        </div>
                    </div>
                    <div class="entry">
                        <div class="icon">
                            <img src="images/feature-icons/zap.png">
                        </div>
                        <div class="text">
                            <h4>Good moods</h4>
                            <p>Tail-wagging energy boost</p>
                        </div>
                    </div>
                </div>

                <div class="cta-features" id="cta-features-2">
                    <h3>Week 2</h3>
                    <div class="entry">
                        <div class="icon">
                            <img src="images/feature-icons/poop.png">
                        </div>
                        <div class="text">
                            <h4>Improved digestion</h4>
                            <p>Poo-bag approved</p>
                        </div>
                    </div>
                    <div class="entry">
                        <div class="icon">
                            <img src="images/feature-icons/smile.png">
                        </div>
                        <div class="text">
                            <h4>Cuddle friendly</h4>
                            <p>Better breath</p>
                        </div>
                    </div>
                </div>
                
                <div class="cta-features" id="cta-features-3">
                    <h3>Week 4</h3>
                    <div class="entry">
                        <div class="icon">
                            <img src="images/feature-icons/star.png">
                        </div>
                        <div class="text">
                            <h4>Healthy hair</h4>
                            <p>Softer, silkier, pet-worthy coats</p>
                        </div>
                    </div>
                    <div class="entry">
                        <div class="icon">
                            <img src="images/feature-icons/paw.png">
                        </div>
                        <div class="text">
                            <h4>Less mess</h4>
                            <p>Decreased shedding</p>
                        </div>
                    </div>
                </div>

                <div class="cta-features" id="cta-features-4">
                    <h3>Month 3</h3>
                    <div class="entry">
                        <div class="icon">
                            <img src="images/feature-icons/scales.png">
                        </div>
                        <div class="text">
                            <h4>Ideal weight</h4>
                            <p>Enhanced stamina, longer lives</p>
                        </div>
                    </div>
                    <div class="entry">
                        <div class="icon">
                            <img src="images/feature-icons/smile.png">
                        </div>
                        <div class="text">
                            <h4>Boundless vitality</h4>
                            <p>Bright, sparkling puppy-dog eyes</p>
                        </div>
                    </div>
                </div>

                <div class="cta-features" id="cta-features-5">
                    <h3>Month 9</h3>
                    <div class="entry">
                        <div class="icon">
                            <img src="images/feature-icons/heart.png">
                        </div>
                        <div class="text">
                            <h4>Decreased illness</h4>
                            <p>Healthier Pups</p>
                        </div>
                    </div>
                    <div class="entry">
                        <div class="icon">
                            <img src="images/feature-icons/paw.png">
                        </div>
                        <div class="text">
                            <h4>Full of Joy and Love</h4>
                            <p>Happier Pups</p>
                        </div>
                    </div>
                </div>

            </div>
            
        </div>  

        
        <div>
            <a href="#" class="button">shop now</a>
        </div>

    </div>
</div>