<div class="features">
    <div class="wrapper">

        <div class="intro">
            <div class="wow animate__fadeInUp">
            <h2>Give your pup <span class="green">more belly rubs,</span> <span class="blue">more cuddles,</span> <span class="yellow">more life</span> <span class="red">more love.</span></h2>
            <p>You love your dog; so do we. That’s why we’re on a mission to give your furry family member a longer, healthier, happier and more balanced life, one dog bowl at a time. Our deliciously fresh Puploaf is dog-approved, human-grade food for full bellies and happy hearts.</p>
            </div>
        </div>

        <div class="icon-grid">
            <div class="icon wow animate__flipInX" data-wow-delay="0s">
                <img src="/images/gifs/human-grade-min.gif" loading="lazy">
                <p>Human-Grade,<br>AAFCO-compliant</p>
            </div>
            <div class="icon wow animate__flipInY" data-wow-delay="0.2s">
                <img src="/images/gifs/vet-designed-min.gif" loading="lazy">
                <p>Vet nutritionist<br>designed healthy</p>
            </div>
            <div class="icon wow animate__flipInY" data-wow-delay="0.4s">
                <img src="/images/gifs/chef-baked-min.gif" loading="lazy">
                <p>Chef baked<br>by hand</p>
            </div>
            <div class="icon wow animate__flipInY" data-wow-delay="0.6s">
                <img src="/images/gifs/fresh-and-healthy-min.gif">
                <p>Fresh &amp; real Ingredients</p>
            </div>
            <div class="icon mobile wow animate__flipInY" data-wow-delay="0.6s">
                <img src="/images/mobile-logo.png" loading="lazy">
            </div>
            <div class="icon wow animate__flipInY" data-wow-delay="0s">
                <img src="/images/gifs/eco-friendly-min.gif">
                <p>Made eco-friendly in<br>Portland, Oregon</p>
            </div>
            <div class="icon wow animate__flipInY" data-wow-delay="0.2s">
                <img src="/images/gifs/tasty-nutritious-min.gif">
                <p>Tasty &amp;<br>nutritious</p>
            </div>
            <div class="icon wow animate__flipInY" data-wow-delay="0.4s">
                <img src="/images/gifs/personalized-to-your-dog-min.gif">
                <p>Personalized<br>to your dog</p>
            </div>
            <div class="icon wow animate__flipInY" data-wow-delay="0.6s">
                <img src="/images/gifs/fetch-min.gif">
                <p>Delivered fresh<br>in 48 hours</p>
            </div>
        </div>

    </div>
</div>