<div class="footer-top">
    <div class="wow animate__fadeInUpBig">
        <img src="/images/fetch_footer.jpg">
    </div>
</div>


<div class="main-footer green-bg">
    <div class="wrapper">

        <div class="nav-column">
            <h3>Site Map</h3>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/nutrition">Nutrition</a></li>
                <li><a href="#">Reviews</a></li>
                <li><a href="/product">Shop</a></li>
            </ul>
        </div>

        <div class="nav-column">
            <h3>Contact</h3>
            <ul class="contact-links">
                <li><a href="#"><img src="/images/mail-icon.png">support@pdxfetch.com</a></li>
                <li><a href="#"><img src="/images/instagram.png">@pdxfetch</a></li>
                <li><a href="#"><img src="/images/facebook.png">pdxfetch</a></li>
                <li><a href="#"><img src="/images/phone.png">503.894.5470</a></li>
            </ul>
        </div>

        <div class="news-column">
            <h3>Join our newsletter</h3>
            <form>
                <input type="text" name="email">
                <button type="submit"><i class="fa-solid fa-check"></i></button>
            </form>
        </div>

    </div>
</div>

<div class="footer-bottom">
    <div class="wrapper">
        <div class="credits">
            2022 PDX FETCH, Inc.
        </div>
        <div class="utility-nav">
            <ul>
                <li><a href="#">Privacy</a></li>
                <li><a href="#">Terms</a></li>
                <li><a href="#">Do Not Sell My Personal Information</a></li>
            </ul>
        </div>
    </div>
</div>