<div class="kibble-compare green-bg">
    <div class="wrapper">

        <div class="intro">
            <h2 class="wow animate__backInDown">Kibble comparison</h2>
            <p class="white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum distinctio voluptatibus aperiam. Unde tenetur iure natus reprehenderit, deleniti, eos quod consequuntur aspernatur neque, veniam alias libero doloremque et aliquam provident.</p>
        </div>

        <div class="cards desktop">

            <div class="card">
                <h3>Fresh Puploaf</h3>
                <ul>
                    <li>Safe for both humans &amp; pups</li>
                    <li>Gentle on sensitive tummies</li>
                    <li>Can easily say all ingredients</li>
                    <li>Allergy-friendly promoting silky, smooth coats</li>
                    <li>Zero added fillers or preservatives</li>
                </ul>
            </div>

            <div class="card">
                <h3>Kibble</h3>
                <ul class="red">
                    <li>Increases chances of cancer and early death</li>
                    <li>Can cause dental disease and is hard to digest</li>
                    <li>Highly processed, low-quality ingredients</li>
                    <li>Increases chances of skin allergies and dry coats</li>
                    <li>Contains Preservatives or additives</li>
                </ul>
            </div>

        </div>

        <div class="kibble-table mobile">
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th><span>Puploaf</span></th>
                        <th><span>Kibble</span></th>
                    </tr>
                </thead>
                <tbody>
                    
                    <tr>
                        <td><div class="text">Safe for both humans &amp; pups</div></td>
                        <td><div class="icon"><i class="fa-solid fa-check"></i></div></td>
                        <td><div class="icon"><i class="fa-solid fa-xmark"></i></div></td>
                    </tr>

                    <tr>
                        <td><div class="text">Gentle on sensitive tummies</div></td>
                        <td><div class="icon"><i class="fa-solid fa-check"></i></div></td>
                        <td><div class="icon"><i class="fa-solid fa-xmark"></i></div></td>
                    </tr>
                    
                    <tr>
                        <td><div class="text">Can easily say all ingredients</div></td>
                        <td><div class="icon"><i class="fa-solid fa-check"></i></div></td>
                        <td><div class="icon"><i class="fa-solid fa-xmark"></i></div></td>
                    </tr>

                    <tr>
                        <td><div class="text">Allergy-friendly promoting silky, smooth coats</div></td>
                        <td><div class="icon"><i class="fa-solid fa-check"></i></div></td>
                        <td><div class="icon"><i class="fa-solid fa-xmark"></i></div></td>
                    </tr>

                    <tr>
                        <td><div class="text">Zero added fillers or preservatives</div></td>
                        <td><div class="icon"><i class="fa-solid fa-check"></i></div></td>
                        <td><div class="icon"><i class="fa-solid fa-xmark"></i></div></td>
                    </tr>

                </tbody>
            </table>
            <p><a href="#" class="button white">see the nutrition</a></p>
        </div>

    </div>
</div>