<div class="our-story hero yellow-bg bg-right">
    <div class="wrapper">
        
        <div class="content">
            <div class="text">
                <h2 class="wow animate__flipInX">Our story</h2>
                <p class="white">Everything about Fetch was created with your dog in mind! When you give your
                pup Fetch, every day will become a treat, and to them will feel like Thanksgiving!
                From our trusted veterinary nutritionist to our in-house chefs, each person on
                our team believes the only way to make dog food is from wholesome and
                delicious ingredients with all the nutrients your dog needs... and a whole lot of
                puppy love!</p>
                <a href="#" class="button">learn more</a>
            </div>
        </div>
        <div class="image" style="background-image:url(/images/fetch_home_our_story.jpg);">
            <img src="/images/fetch_home_our_story.jpg">
            <div class="hero-bg"></div>
        </div>
    </div>
</div>