<div class="banner-promo">
    <div class="wrapper">
        <div><a href="#"><strong>Save 70% off your first order</strong> with subscription <img src="/images/small-arrow.png"></a></div>
    </div>
</div>